


* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


@media screen and (max-width: 450px) {

    .loader-box {
   
        display: inline-block;
        text-align: center;
        height: 50px;
        border-radius: 2px;
        overflow: hidden;



        
    }
    .loader-line {
        width: 0%;
        height: 100%;
        background-color: rgba(33, 150, 243, 1);
        
        
    }


    
}




@media screen and (max-width: 960px) {
    
    
.loader-box {


    width: 90%;
    max-width: 502px;
    min-width: 320px;

        border: 1px solid rgba(223, 229, 236, 1);
        margin-left: auto;
        margin-right: auto;
 
        height: 4px;
        display: flex;
        border-radius: 2px;
        overflow: hidden;




    
}


.loader-line {
    width: 0%;
    height: 100%;
    background-color: rgba(33, 150, 243, 1);
}



}


@media screen and (min-width: 960px) {
    
    

    .loader-box {
        border: 1px solid rgba(223, 229, 236, 1);
        margin-left: auto;
        margin-right: auto;
         width: 502px;
        height: 4px;
        margin-bottom: 20px;
        border-radius: 2px;
        overflow: hidden;

    }

    .loader-line {
        width: 0%;
        height: 100%;
        background-color: rgba(33, 150, 243, 1);
        
        
    }
    


}



