@media screen and (max-width: 960px) {
  .five-more-button {
    width: 90%;
    max-width: 502px;
    min-width: 320px;
    height: 50px;
    background-color: rgba(33, 150, 243, 1);

    margin-left: auto;
    margin-right: auto;
    display: block;

    border-radius: 4px;
    border: none;
    text-align: center;

    color: white;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 960px) {
  .five-more-button {
    width: 502px;
    height: 50px;
    background-color: rgba(33, 150, 243, 1);

    margin-left: auto;
    margin-right: auto;
    display: block;

    border-radius: 4px;
    border: none;
    text-align: center;

    color: white;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.five-more-button:hover {
  background-color: rgb(66, 161, 238);
}
